{% set name = "#{message.first_name} #{message.last_name}" %}

<li>
    <span>{{ message.created_at|date('Y-m-d H:i') }}</span>
    {% if message.email is not null %}
        <a href="mailto:{{ message.email }}">{{ name }}</a>,
    {% else %}
        {{ name }},
    {% endif %}
    {{ message.age }} m.
    <br/>
    {{ message.content }}
</li>
