{% set name = "#{message.firstName} #{message.lastName}" %}

<li>
    <span>{{ message.createdAt|date('Y-m-d H:i') }}</span>
    {% if message.email is not null %}
        <a href="mailto:{{ message.email }}">{{ name }}</a>,
    {% else %}
        {{ name }},
    {% endif %}
    {{ message.age }} m.
    <br/>
    {{ message.content|nl2br }}
</li>
