<li>
    <span>{{ message.created_at }}</span>
    {% if message.email is not null %}
        <a href="mailto:{{ message.email }}">{{ message.name }}</a>,
    {% else %}
        {{ message.name }},
    {% endif %}
    75 m.
    <br/>
    {{ message.content }}
</li>
