<p id="pages">
    {% if current > 1 %}
        <a href="index.php?page={{ current - 1 }}" title="atgal">atgal</a>
    {% endif %}
    {% for page in 1..total %}
        {% if page == current %}
            {{ page }}
        {% else %}
            <a href="index.php?page={{ page }}" title="{{ page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    {% if current < total %}
        <a href="index.php?page={{ current + 1 }}" title="toliau">toliau</a>
    {% endif %}
</p>
